.smbcredentials
.bash_history
.claude.json
.Xauthority
.xorgxrdp*.log
.xorgxrdp*.log.old
.cache/
.claude/
.config/
.gitconfig
.gtkrc-2.0
.local/
.nix-defexpr/
.nix-profile
.pki/
.var/
.vscode/
Desktop/
Downloads/
Music/
Pictures/
Videos/
Public/
Templates/
Documents/
thinclient_drives/
crash-log.txt
result
